* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    margin-top: 2rem;
}

.grid-container {
    display: grid;
    border: 5px solid black;
    margin: 0 auto 0;
    width: 50vw;
    height: 50vh;
    margin-top: 2rem;
}

.box {
    border: 0.5px solid black;
}

.colored {
    background-color: grey;
}

.hovered {
    background-color: white;
}

.clicked {
    background-color: lime;
}

.button-container {
    display: flex;
    margin: 2rem auto 0;
    width: 75vw;
    justify-content: space-evenly;
}

.button {
    background-color: lightgrey;
    padding: 0.5rem;
}